<%= form_for [:kitten, @categorization] do |f| %>
  <% if @categorization.errors.any? %>
    <h3>Category has already been taken</h3>
  <% end %>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name, {prompt: true} %>
  <%= f.submit "Add Category" %>
<% end %>